#sorting {
  .container {
    border: 3px solid black;
    margin-top: 30px;
    display: flex;
    align-items: flex-end;
  }

  .value {
    background-color: #00ffff;
    border: 1px solid black;
  }

  .switching {
    background-color: #9e2323;
  }

  .pivot {
    background-color: #1c851c;
  }
}
